<div class="col-3">
    <h3>Add New Student</h3>
    <div class="form-horizintal">
        <div class="form-group">
            <label for="Id" class="clo-4" class="form-contrl">ID</label>
            <input id="Id" [(ngModel)] = "nstudent._id" type="number" class="form-contrl">
        </div>
        <div class="form-group">
            <label for="Name" class="clo-4"class="form-contrl" >Name</label>
            <input id="Name" [(ngModel)] = "nstudent.Name" class="form-contrl">
        </div>
        <div class="form-group">
            <label for="email" class="clo-4" class="form-contrl">Email</label>
            <input id="email" [(ngModel)] = "nstudent.Email" type="email"class="form-contrl">
        </div>
        <div class="form-group">
            <label for="dept" class="clo-4" class="form-contrl">Department</label>
            <input id="dept" [(ngModel)] = "nstudent.Department" type="dept"class="form-contrl">
        </div>
        <div class="form-group">
            <button (click)="save()">Add</button>
        </div>
    
    </div>
    </div>