<div class="col-3">
    <h3>Edit Student</h3>
    <div class="form-horizintal">
        <div class="form-group">
            <label for="Name" class="clo-4" >ID</label>
            <input id="Name" [(ngModel)] = "dept._id" class="form-contrl" value="est._id">
        </div>
        <div class="form-group">
            <label for="Name" class="clo-4" >Name</label>
            <input id="Name" [(ngModel)] = "dept.Name" class="form-contrl" value="est.Name">
        </div>
        <div class="form-group">
            <button (click)="save()" class="btn btn-info">Save</button>
        </div>
    
    </div>
    </div>